body{
    background-color: blue;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

input[type="text"]{
    width: 200px;
}

.hidden{
    display: none;
}

div#error-container{
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
}